# Bỏ qua các file hệ thống macOS
.DS_Store
.vscode
# Bỏ thư mục build hoặc output
build/
dist/
*.log

# Node.js
node_modules/

# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
sysinfo.txt
*.user
*.suo
*.pidb
*.booproj

# Air
post_cmd.txt
pre_cmd.txt
tmp
.env