# Bỏ qua các file hệ thống macOS
.DS_Store
.vscode
# Bỏ thư mục build hoặc output
build/
dist/
*.log

# Node.js
node_modules/

# Air
post_cmd.txt
pre_cmd.txt
tmp
#config
.env
.air.toml

# Bỏ qua các file cấu hình của IDE
*.vscode/   

go.mod
go.sum

Backend-React-Native-App
# Bỏ qua các file nhị phân
*.apk
*.ipa
*.exe
*.dll
*.so
*.dmg
*.bin
*.out