# macOS system files
.DS_Store

# Build and output folders
build/
dist/
*.log

# Node.js dependencies
node_modules/

# Air tool files
post_cmd.txt
pre_cmd.txt

# IDE configuration files
.vscode/

# Environment files
.env

# Temporary files
tmp/
*.tmp
*.temp

# Binary files
*.bin
*.out